<!DOCTYPE html>
<html>
<!-- Head section of the page, including the link to the CSS stylesheet and the header image -->
<head>
  <!-- Linking the CSS stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Banner image -->
  <img src="/images/banner.jpg"height="200px">
</head>
<body>
<!-- Table for navigation links -->
<table>
<tr>
<!-- Navigation Links -->
<td><a href="/">Home</a></td>
<td><a href="/about">About me</a></td>
<td><a href="/projects">Projects</a></td>
<td><a href="/services">Services</a></td>
<td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<body>
    <div>
        <!-- Header containing my information -->
        <header>
            <h3>Student name: Lee Lok Yan Student # 301233707</h3>
        </header>
        <!-- Main section containing details about me -->
        <main>
            <p>
               <i>
                <!-- Paragraph about my background -->
                Prior to my study in Centennial College, I was the <strong>District Supervisor</strong> of a global medical device company - <strong>Medtronic®</strong> and responsible for promoting neuro modulation programming and neurovascular products in Hong Kong. I have witnessed the evolvement of the medical device industry into a digitalized, programming-driven and virtual platform with my 10-year experiences. Various medical devices such as surgical navigation systems, anaesthesia machines and robotic-assisted surgical devices, require a high level of programming skills to understand, alter and navigate their functions and tools. There is an emerging need for software scripting skills not only for using the applications but also altering the applications to fit customer’s needs. Therefore, I am looking for practical, advanced and latest programming courses to fulfil that gap and so I can further advance my career.
                </i>
            </p>
            <!-- Section describing favorite activities -->
            <h4>Some of my favourite things to do: </h4>
            <ul>
                <li>Snowboarding</li>
                <li>Watching Movie</li>
                <li>Eating</li>
                <li>Biking</li>
            </ul>
        </main>
    </div>
    </body>
</html>
