<!DOCTYPE html>
<html>
<!-- Head section of the page -->
<head>
  <!-- Link to the CSS stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Banner image -->
  <img src="/images/banner.jpg" height="200px">
</head>
<body>
<!-- Navigation bar -->
<table>
<tr>
  <!-- Navigation Links -->
  <td><a href="/">Home</a></td>
  <td><a href="/about">About me</a></td>
  <td><a href="/projects">Projects</a></td>
  <td><a href="/services">Services</a></td>
  <td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<!-- Contact section -->
<div style="padding-top: 20px;">
  <h2>Contact Me</h2>
  <table>
    <!-- Contact details -->
    <tr>
      <td>Contact number: </td>
      <td>( +1 ) 647-939-6810</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>llee113@my.centennialcollege.ca</td>
    </tr>
  </table>
</div>
</body>
</html>
