<!DOCTYPE html>
<html>
<!-- Head section of the page -->
<head>
  <!-- Link to the CSS stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Banner image -->
  <img src="/images/banner.png" height="180px">
  <br>
</head>
<body>
<!-- Navigation bar -->
<table>
<tr>
  <!-- Navigation Links -->
  <td><a href="/">Home</a></td>
  <td><a href="/about">About me</a></td>
  <td><a href="/projects">Projects</a></td>
  <td><a href="/services">Services</a></td>
  <td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<!-- Welcome message and mission -->
<div>
  <!-- Welcome message -->
  Welcome everyone to my porfolio. <br> <br>
  You can <strong><a href="/about">click here</a> </strong>to know more about me.
  <br><br><br>
  <!-- Mission -->
  <strong>Mission</strong> <br>
  <ol>
    <li>Experienced District Supervisor at Medtronic®, responsible for promoting neuro modulation programming and neurovascular products in Hong Kong. </li>
    <li>Witnessed the industry's shift towards digitalization and programming-driven platforms, particularly in medical devices such as surgical navigation systems, anesthesia machines, and robotic-assisted surgical devices. </li>
    <li>Seeking practical, advanced programming courses to bridge the skills gap and further advance your career, with a willingness to work from any location. </li>
  </ol>
</div>
</body>
</html>
