<!DOCTYPE html>
<html>
<!-- Head section of the page -->
<head>
  <!-- Link to the CSS stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Banner image -->
  <img src="/images/banner.jpg" height="200px">
</head>
<body>
<!-- Navigation bar -->
<table>
<tr>
  <!-- Navigation Links -->
  <td><a href="/">Home</a></td>
  <td><a href="/about">About me</a></td>
  <td><a href="/projects">Projects</a></td>
  <td><a href="/services">Services</a></td>
  <td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<!-- Projects section -->
<div>
  <h3>Projects</h3>
  <table>
    <!-- Project 1 -->
    <tr>
      <td><img src="/images/project1.png" height="100px"></td>
      <td>
      <!-- Project 1 Description -->
      <strong>Role: District Supervisor, Neuromodulation & Neurovascular</strong><br>
      Managed a team of 5 sales representatives, driving sales and growth for neuromodulation and neurovascular products.
      </td>
    </tr>
    <!-- Project 2 -->
    <tr>
      <td><img src="/images/project2.png" height="100px"></td>
      <td>
      <!-- Project 2 Description -->
      <strong>Role：Territory Manager, Neuromodulation & Neurovascular</strong><br>
      Oversaw sales and clinical management of all territories in Hong Kong and Macau. Developed and executed strategic plans for clinical service, sales, and new product launches.
      </td>
    </tr>
    <!-- Project 3 -->
    <tr>
      <td><img src="/images/project3.jpg" height="100px"></td>
      <td>
      <!-- Project 3 Description -->
      <strong>Role：Senior Clinical Specialist, Neuromodulation & Neurovascular</strong><br>
      Managed clinical operations in Hong Kong and Macau territories. Supported the sales team with strategic planning and execution of clinical services.
      </td>
    </tr>
  </table>
</div>
</body>
</html>
