<!DOCTYPE html>
<html>
<!-- Head section of the page -->
<head>
  <!-- Link to the CSS stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Banner image -->
  <img src="/images/banner.png" height="180px">
  <br>
</head>
<body>
<!-- Navigation bar -->
<table>
<tr>
  <!-- Navigation Links -->
  <td><a href="/">Home</a></td>
  <td><a href="/about">About me</a></td>
  <td><a href="/projects">Projects</a></td>
  <td><a href="/services">Services</a></td>
  <td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<!-- Projects section -->
<div>
  <h3>Projects</h3>
  <table>
    <!-- Project 1 -->
    <tr>
      <td><img src="/images/project1.jpg" height="150px"></td>
      <td>
      <!-- Project 1 Description -->
      <strong><a href="http://studentweb.cencol.ca/llee113/COMP125/Assignment1/assignment1.html">Creating Table</a></strong><br>
      Dynamically creates (using JavaScript code) a 10X10 HTML table and displays in eachcell the value of row times the column to create a multiplication table.      </td>
    </tr>
    <!-- Project 2 -->
    <tr>
      <td><img src="/images/project2.jpg" height="150px"></td>
      <td>
      <!-- Project 2 Description -->
      <strong><a href="http://studentweb.cencol.ca/llee113/COMP125/Assignment2/assignment2.html">Photo Viewer</a></strong><br>
      Clicks on a picture and it opens a window containing a zoomedversion of the image, give her a hyperlink (button) to add the pic to a favorites’area at the bottom of the first page       </td>
    </tr>
    <!-- Project 3 -->
    <tr>
      <td><img src="/images/project3.jpg" height="150px"></td>
      <td>
      <!-- Project 3 Description -->
      <strong><a href="http://studentweb.cencol.ca/llee113/COMP125/Assignment3/assignment3.html">Bug Smasher</a></strong><br>
      The bug hops randomly around the game area at a given interval. The player tries to catch thebug by clicking on it      </td>
    </tr>
  </table>
</div>
</body>
</html>
