<!DOCTYPE html>
<html>
<!-- Head section of the page -->
<head>
  <!-- Link to the CSS stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Banner image -->
  <img src="/images/banner.png" height="180px">
  <br>
</head>
<body>
<!-- Navigation bar -->
<table>
<tr>
  <!-- Navigation Links -->
  <td><a href="/">Home</a></td>
  <td><a href="/about">About me</a></td>
  <td><a href="/projects">Projects</a></td>
  <td><a href="/services">Services</a></td>
  <td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<!-- Services section -->
<div style="padding-top: 20px;">
  <h2>Services</h2>
  <!-- List of services -->
  <ol>
    <li>Website Development</li>
    <li>Android app Development</li>
    <li>Database development</li>
  </ol>
</div>
</body>
</html>
